html{
    scroll-behavior: smooth;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #10130F;
    background-color: #E8F3FF;
}
.header {
    min-height: 900px;
    background-image: url(../img/header-bc-img2.png);
    background-size: cover;
    background-position: center;
    padding-top: 22px;
    position: relative;
}


.container {
    max-width: 1338px;
    padding: 0px 10px;
    margin: 0px auto;
}
.header__top{
    display: flex;
    /* gap: 273px; */
    align-items: center;
}
.header__logo {
    width: 139px;
    height: 60px;
}

.header__nav {
    padding-left: 297px;
    padding-right: 260px;
}
.header__nav-list {
    display: flex;
    gap: 60px;
}
.list__item a {
    width: 62px;
    font-family: 'Noto Sans';
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}
.header__btn {
    width: 166px;
    height: 53px;
    background-color: #5678FF;
    color: #fff;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 25px;
    padding: 15px 20px;

    &:hover{
        background-color: #2f59ff;
    }
}
@media(max-width: 1320px){
    .header{
        background-size: cover;
    }
    .header__top{
        width: 100%;
        justify-content: space-between;
    }
    .header__nav-list{
        gap: 30px;
    }
    .header__nav {
        padding-left: 0px;
        padding-right: 0px;
    }
    /* .header__contant-img{
        display: none;
    } */
}
@media(max-width: 767px){
    .header__btn{
        display: none;
    }
    
}

.header__contant {
    position: absolute;
    top: 250px;
    left: 480px;
}
.header__contant-img {
    width: 650px;
    height: 500px;
}
.expedition {
    margin-top: 140px;
}
.expedition__container {
    display: flex;
    gap: 44px;
}
.expedition__left {
    max-width: 628px;
}
.expedition__title {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 72px;
    line-height: 125%;
}
.expedition__description {
    font-weight: 300px;
    font-size: 24px;
    line-height: 125%;
    margin-top: 40px;
    letter-spacing: -3%;
}
.expedition__left-img {
    margin-top: 80px;
}
.expedition__right {
    max-width: 540px;
}

@media(max-width: 1052px){
    .expedition__container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 44px;
    }
    .expedition__title {
        font-size: 90px;
        width: 100%;
    }
    .expedition__left {
        max-width: 100%;
    }
    .expedition__right {
        max-width: 100%;
        display: flex;
        gap: 15px;
    }
    .expedition__left-img {
        margin-top: 0px;
    }
    .expedition__left-content{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    .expedition__description{
        font-size: 30px;
    }
}
@media(max-width: 810px){
    .expedition__right-img{
        width: 343px;
        height: 368px;
    }
    .expedition__left-img{
        width: 228px;
        height: 186px;
    }
    .expedition__title {
        font-size: 80px;
        width: 100%;
    }
}
.route {
    margin-top: 140px;
    height: 790px;
}
.route__title {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 72px;
    margin-left: 60px;

}
.route__top {
    position: relative;
    height: 320px;
    margin-top: 40px;
}
.route__day {
    display: flex;
    position: absolute;
    top: 10px;
    right: 185px;
}
.day2 {
    width: 247px;
    height: 81px;
    margin-right: 100px;
}
.day__number {
    font-size: 20px;
    font-weight: 700;
    line-height: 136%;
    letter-spacing: -5.5%;
}
.day__about {
    font-size: 20px;
    line-height: 136%;
}
.day4 {
    width: 300px;
    height: 54px;
    padding-top: 20px;
}
.route__wave1 {
    position: absolute;
    right: 0px;
    top: 90px;
    width: 1034px;
    height: 178px;
}
.route__day_1{
    display: flex;
    gap: 135px;
    position: absolute;
    top: 270px;
    right: 50px;
}

.route__bottom {
    position: relative;
    max-height: 318px;
}
.route__day_6{
    display: flex;
    gap: 149px;
    position: absolute;
    top: 70px;
    left: 190px;
}

.route__wave6 {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 1036px;
    height: 178px;
}
.route__day_7{
    display: flex;
    gap: 193px;
    position: absolute;
    top: 310px;
    left: 358px;
}
.day7 {
    width: 135px;
    height: 81px;
}
@media(max-width:1038px) {
    .route__top {
        height: 420px;
    }
    .route__title{
        font-size: 90px;
    }
    .route__wave1{
        width: 778px;
        height: 134px;
    }
    .route__wave6{
        width: 778px;
        height: 134px;
    }
    .route__day {
        
        right: 10px;
    }
    .day2 {
        width: 247px;
        height: 81px;
        margin-right: 50px;
    }
    .route__day_1{
        display: flex;
        gap: 15px;
        height: 70px;
        width: 600px;
    }
    .day1{
        height: 30px;
    }
    .route__day_6{
        gap: 15px;
    }
    .route__day_7{
        gap: 100px;
        left: 300px;
        top: 280px;

    }
}

.advantages {
    margin-top: 153px;
}

.advantages__title {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 72px;
    margin-bottom: 40px;
}
.advantages__item{
    position: relative; /* Устанавливаем относительное позиционирование для родительского блока */
    padding: 30px; /* Отступы внутри блока */
    background-color: #E8F3FF; /* Цвет фона блока */
    width: 312px;
    height: 311px;
}

.advantages__item::before,
.advantages__item::after {
    content: '';
    position: absolute;
    background-color: black; /* Цвет рамки */
}

.advantages__item::before {
    top: 0;
    left: 10px; /* Отступ от левого края */
    right: 10px; /* Отступ от правого края */
    height: 3px; /* Толщина верхней линии */
}

.advantages__item::after {
    bottom: 0;
    left: 10px; /* Отступ от левого края */
    right: 10px; /* Отступ от правого края */
    height: 3px; /* Толщина нижней линии */
}

.advantages__item .side-line {
    position: absolute;
    background-color: black; /* Цвет рамки */
}

.left-line {
    top: 10px; /* Отступ сверху */
    left: 0;
    width: 3px; /* Толщина левой линии */
    height: calc(100% - 20px); /* Высота левой линии (высота блока минус отступы) */
}

.right-line {
    top: 10px; /* Отступ сверху */
    right: 0;
    width: 3px; /* Толщина правой линии */
    height: calc(100% - 20px); /* Высота правой линии (высота блока минус отступы) */
}
.advantages__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 61px 24px;
    margin-top: 41px;
}

.advantages__text {
    font-size: 28px;
    /* line-height: 136px; */
    letter-spacing: -5.5%;
}
.advantages__item_img img {
    border-radius: 12px;
}
.advantages__item_blue{
    background-color: #5678FF;
    position: relative; /* Устанавливаем относительное позиционирование для родительского блока */
    padding: 30px; /* Отступы внутри блока */
    width: 312px;
    height: 311px;
    border-radius: 12px;
}

.advantages__cicle {
    margin: 69px;
    width: 174px;
    height: 174px;
    border: double 8px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#E8F3FF, #E8F3FF), 
    radial-gradient(circle at bottom left, #2B3B7C,#5678FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
}
.advantages__cicle-text {
    position: absolute;
    top: 74px;
    left: 19px;
    color: #011250;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
}
@media(max-width:1361px){
    .advantages__content{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:1038px){
    .advantages__content{
    grid-template-columns: 1fr 1fr;
    }
    .advantages__title{
        font-size: 90px;
    }
}
@media(max-width:688px){
    .advantages__content{
    grid-template-columns: 1fr;
    }
}
.questions {
    margin-top: 140px;
    position: relative;
}

.questions__title {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 72px;
}

.block {
    margin-top: 76px;
    width: 993px;
}
.block__item {
    position: relative; /* Устанавливаем относительное позиционирование для родительского блока */
    padding: 20px 0px; /*Отступы внутри блока*/
    background-color: #E8F3FF; 
}
.block__item::before,
.block__item::after {
    content: '';
    position: absolute;
    background-color: #6A6A6B; /* Цвет рамки */
}

.block__item::before {
    top: 0;
    left: 0px; /* Отступ от левого края */
    right: 10px; /* Отступ от правого края */
    height: 1px; /* Толщина верхней линии */
}

.block__title {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -2%;
    background-color: #E8F3FF;
    width: 993px;
    text-align: left;
    position: relative;

}
.block._init .block__title{
    cursor: pointer;
}

.block._init .block__title::before,
.block._init .block__title::after{
    content: "";
    position: absolute;
    transition: transform 0.3s ease 0s;
    z-index: 1;

}
.block._init .block__title::before{
    width: 12px;
    height:1.5px;
    background-color: #5678FF;
    right: 13px;
    top: 8px;
}
.block._init .block__title::after{
    width: 8px;
    height:8px;
    border-top: 1.9px solid #5678FF;
    border-right: 1.9px solid #5678FF;
    right: 15px;
    top: 7.9px;
}
.block._init .block__title::before{
    transform: rotate(90deg);

}

.block._init .block__title::after{
    transform: rotate(135deg);
}

.block._init .block__title._active::after{
    transform: rotate(-50deg);
    top: 3px;

}
.block__text {
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 25px;
    padding-top: 10px;

}
.block__circle {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #CBD6E0;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 0;
}
.questions__arrow {
    position: absolute;
    top: 206px;
    right: 0px;
}
@media(max-width: 1397px){
    .questions__arrow {
        opacity: 0.5;
    }
    .questions__title{
        font-size: 90px;
    }
}
@media(max-width: 839px){
    .questions__arrow{
        display: none;
    }
}
@media(max-width: 1031px){
    .block{
        width: 100%;
    }
    .block__title{
        width: 100%;
    }
}
.details {
    margin-top: 140px;
    font-family: 'Noto Sans';
    font-weight: 600;
    position: relative;
}
.details__container {
    display: flex;
    gap: 85px;
}
.details__title {
    font-size: 72px;
    font-weight: 600;

}
.details__content {
    margin-top: 52px;
}
.details__quantity {
    font-size: 24px;
}
.quantity {
    font-size: 36px;

}
.details__when {
    font-size: 24px;
    margin-top: 52px;
}
.when {
    font-size: 36px;

}
.details__price {
    font-size: 24px;
    margin-top: 366px;
}
.price {
    font-size: 36px;

}
.details__btn {
    margin-top: 34px;
    width: 150px;
    height: 53px;
    background-color: #5678FF;
    color: #fff;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 25px;
    padding: 13px 19px;

    &:hover{
        background-color: #2f59ff;

    }

}
.details__arrow {
    position: absolute;
    left: 0px;
    top: 250px;
}
@media (max-width: 1209px) {
    .details__title{
        font-size: 90px;
    }
    .details__arrow{
        display: none;
    }
    .details__img img{
        width: 554px;
        height: 488px;
    }
    .details__price {
        font-size: 32px;
        margin-top: 40px;
    }
    .details__when {
        font-size: 32px;
    }
    .details__quantity {
        font-size: 32px;
    }
    .details__btn{
        width: 222px;
        height: 78px;
        font-size: 30px;
    }
}
@media (max-width: 896px){
    .details__img img{
        width: 385px;
        height: 312px;
    }
}
@media (max-width: 720px){
    .details__img img{
        display: none;
    }
}

.details__img img{
    margin-top: 52px;
    border-radius: 20px;
}
label.error{
    display: none!important;
}
.form {
    font-family: 'Noto Sans';
    margin-top: 140px;
}
.form__input.error{
    border:2px solid rgba(255, 0, 0, 0.479);
    /* box-shadow: 10px #ff5667; */
}
.form__container {
    display: flex;
    gap: 330px;
}
.form__title {
    font-weight: 600;
    font-size: 64px;
    width: 536px;
}

.form__content-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 164.4%;
    width: 359px;
    margin-top: 40px;
}
.form__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}
.form__input {
    background-color: #AABBFF;
    width: 537px;
    height: 53px;
    border-radius: 20px;
    color: #0000006e;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
}
.status{
    font-size: 24px;
    font-weight: 400;
    color: #000;
}
.form__btn {
    width: 148px;
    height: 53px;
    background-color: #5678FF;
    color: #fff;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 25px;
    padding: 13px 19px;

    &:hover{
        background-color: #2f59ff;
    }
}
@media(max-width:1255px){
    .form__container {
        gap: 0px;
        justify-content: space-between;
    }
    .form__title{
        width: 100%;
        font-size: 82px;
    }
}
@media(max-width:922px){
    .form__container{
        flex-direction: column;
    }
    .form__content-item{
        font-size: 32px;
    }
    .form__input{
        width: 100%;
        height: 84px;
        font-size: 32px;
    }
    .form__btn{
        width: 222px;
        height: 78px;
        font-size: 30px;
    }
}
.footer {
    margin-top: 150px;
    height: 484px;
    background-image: url(../img/footer__img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-clip: content-box; */
    /* background-position: center; */
    /* padding-top: 15px; */
}

.footer__content {
    padding-top: 145px;
    display: flex;
    align-items: center;
    gap: 255px;
}

.footer__tel {
    font-size: 24px;
    color: #10130F;
    font-weight: 400;
    padding-top: 30px;
    margin-left: 127px;
}
.footer__email {
    font-size: 32px;
    color: #10130F;
    font-weight: 400;
    padding-top: 30px;
}
.contacts {
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

.design__name {
    font-size: 24px;
    color: #10130F;
    font-weight: 400;

}
.design__link {
    font-size: 24px;
    font-weight: 400;

}

.frontent__name {
    font-size: 24px;
    color: #10130F;
    font-weight: 400;

}
.frontend__link {
    font-size: 24px;
    font-weight: 400;

}
@media(max-width:1261px){
    .footer__content {
        gap: 0px;
        justify-content: space-between
    }
}